@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
    font-family: montserrat;
    background-color: rgb(177, 176, 176);
    display: flex;
    flex-direction: row;
    padding: .25em 2em;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2em;
    padding: 0em .25em;
}

.links {
    margin: 1em;
    font-family: montserrat;
}

.navButton {
    width: 8em;
    box-shadow: 2px 2px black;
    background-color: azure;
    border-radius: 1vh;
    padding: .25em 0em;
    font-size: 1em;
}

button:hover {
    transform: translateY(-0.25vh);
  }
